@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #F9F9F9;
}

.backgroundImage{
    height: 60%;
    align-self: center;
    justify-self: end;
    position: absolute;
    right: 0px;
}

.formContainerContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #F9F9F9;
    
}

.formContainer{
    width: 26.875rem;
    height: 46.625rem;
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2.5rem;
    background-color: #FFFFFF;
    z-index: 2;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    justify-content: space-around;
}

.logo{
    width: 230px;
}

.inputContainer{
    width: 100%;
    height: 55px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: 1px solid #4a4a4a;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input{
    width: 100%;
    height: 90%;
    padding: 0px 20px;
    font-size: 16px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    color: #2c2b2b;
}

.input::placeholder{
    color: #9b9b9bc9;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.input:focus{
    outline: none;
}

.inputIcon{
    width: 20px;
    margin-right: 10px;

}

.submitButton{
    width: 100%;
    height: 55px;
    background: linear-gradient(to right, #AE23A9, #DC4E1B);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    border: none;
    cursor: pointer;
}

.loginTrouble{
    background-color: transparent;
    border: none;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #4a4a4a;
    align-self: start;
}

.loginTrouble:hover{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.createAccountButton{
    width: 100%;
    height: 55px;
    background-color: transparent;
    border: 1.5px solid #4a4a4a;
    padding: 0px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    color: #4a4a4a;
}

.createAccountButton:hover{
    cursor: pointer;
}

.inline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction:row;
    width: 100%;
    align-self:center;
    color: #4A4A4A;
}

@media (max-width: 440px) {
    .container{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
    }

    .backgroundImage{
        display: none;
    }

    .formContainerContainer{
        z-index: 2;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .formContainer{
        margin: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    button{
        margin: 0px;
        width: 100%;
    }

    .inputContainer{
        width: 100%;
    }

    .backgroundImage{
        display: none;
    }

    .submitButton{
        margin: 0;
        width: 80%;
    }

    .createAccountButton{
        margin: 0;
        width: 80%;
    }

    .inline{
        width: 80%;
        gap: 1rem;
    }

    form{
        align-items: center;
    }

    .logo{
        margin-bottom: 2rem;
    }
}